// Settings
@import "variables/_variables.scss";

// Forms
@import "form/_form.scss";

// Layout
@import "layout/_header.scss";
@import "layout/_footer.scss";

// Components
@import "components/_component-form-container.scss";
@import "components/_component-modal.scss";
@import "components/_component-form.scss";
@import "components/_component-message-box.scss";

.site {
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 24em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}


.site-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;

  width: 100vw;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#147c00+14,0bea00+100 */
  background: #147c00; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #147c00 14%, #0bea00 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #147c00 14%,#0bea00 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #147c00 14%,#0bea00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#147c00', endColorstr='#0bea00',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


  .container {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

  }

}
