footer {
  width: 100vw;
  background-color: #FFFFFF;
  text-align: center;
  border-top: 1px solid #CCCCCC;
  height: 80px;

  .container {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .disclaimer {
    .glyphicon.glyphicon-heart {
      color: #F0AD4E;
    }
  }
}
