// Button
form {
  h2 { text-align: center; }
  hr {
    width: 50px;
    border-top: 1px solid #f0ad4e;
 }

  button {
    width: 100%;
  }
}

.msg-err {
  text-align: center;
  min-height: 20px;
  margin-bottom: 15px;
 }
